<form action="/output">
  <div class="form-group">
     <label for="name">Enter your Tamagotchi's name:</label>
     <input name="name" class="form-control" type="text">
  </div>
  <hr>
  <button class="btn btn-success">Create my Tamagotchi!</button>
</form>
